/* Uses the CSS variables you set in :root */

.btn.btn-outline-primary{
color: var(--brand-primary);
border-color: var(--brand-primary) !important;
}

.btn.btn-outline-primary:hover{
	color: #ffff;
}

.btn-primary,
.btn.btn-primary {
  background-color: var(--brand-primary) !important;
  border-color: var(--brand-primary) !important;
}

.btn.btn-outline-primary:hover{
	background-color: var(--brand-primary) !important;
	
}

.btn-primary:hover,
.btn.btn-primary:hover {
  filter: brightness(0.95);
}

/* Optional: make headers follow brand */
.page-title,
.card-header h2,
h1, h2.section-title {
  color: var(--brand-primary);
}


.manualpay{
	background: var(--brand soft);
}

/* Navbar text */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .navbar-toggler {
  color: var(--nav-text) !important;
}



.dashboard-hero {
    background:  var(--brand-gradient);
    color: #fff;
    border-radius: 18px;
    padding: 1.5rem;
}


.navbar-logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border:none;
	box-shadow:none;
	transform: scale(1.05); 
}



.navbar-logo img {
	width: 100%;
	 height: 100%;
	 object-fit: cover;
	 transform: scale(1.05); 
	 display: block;
	 background: transparent;
	 border:none;
	 box-shadow:none;
}

.comp-logo {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position:relative; 
	display:inline-block;
	background: transparent;
	border:none;
	box-shadow:none;
	transform: scale(1.05); 
}

}
