<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
<nav class="navbar navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/sreklawllclogo.png}" width="30" height="40" class="d-inline-block align-top" alt="" loading="lazy">
        S.Reklaw LLC
    </a>
</nav>
</body>
</html>