<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Property List</title>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div class="container mt-4">
    <h1>Property List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Tenants</th><th>Property Address</th><th>Lease End Date</th><th>Rent Amount</th><th>Day Due</th><th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prop : ${property}">
            <td>
                <span th:each="use : ${prop.user}" th:text="${use.firstname} + ' ' + ${use.lastname}"></span>
            </td>
            <td th:text="${prop.rentAddress}"></td>
            <td th:text="${prop.leaseEndDate}"></td>
            <td th:text="${prop.rentAmount}"></td>
            <td th:text="${prop.rentDueDate}"></td>
            <td><a th:href="@{'/property/update'(id=${prop.id})}">Update</a></td>
            <td><a th:href="@{'/property/delete'(id=${prop.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/property/add}" class="btn btn-secondary">Add Property</a>
</div>
<div class="footer"><a th:href="@{/index2}">Return Home</a></div>
<div class="footer"><a th:href="@{/}">Exit</a></div>
</body>
</html>