<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div class="container">
    <h2>Profile</h2>
    <div th:if="${user != null}">
        <p>Name: <span th:text="${user.firstname} + ' ' + ${user.lastname}"></span></p>
        <p>Email: <span th:text="${user.email}"></span></p>
        <p>Username: <span th:text="${user.username}"></span></p>
    </div>
</div>
</body>
</html>