<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tenant Payments</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div class="container">
    <h2>Payment History</h2>
    <p th:if="${user != null}" th:text="${user.property.rentAddress}"></p>
    <table class="table">
        <thead><tr><th>Amount</th><th>Time</th></tr></thead>
        <tbody>
        <tr th:each="payment : ${payHistory}">
            <td th:text="${payment.amount}"></td>
            <td th:text="${payment.time}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>