
<!-- src/main/resources/templates/admin/app-forums/feedback.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feedback List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
	<th:block th:replace="~{admin/navbar :: navbar}"></th:block>
		
<div class="container mt-4">
    <h2>Feedback Submissions</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
				<th>Date</th>
                <th>Navigation</th>
                <th>Performance</th>
                <th>Design</th>
                <th>Bugs</th>
                <th>Recommend</th>
                <th>Comments</th>
                
                <th>Contact Name</th>
                <th>Contact Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="feedback : ${feedbacklist}">
                <td th:text="${feedback.id}">ID</td>
				<td th:text="${feedback.uploadedAt}">Date</td>
                <td th:text="${feedback.navigationExperience}">Navigation</td>
                <td th:text="${feedback.performanceExperience}">Perfomance</td>
                <td th:text="${feedback.designExperience}">Design</td>
                <td th:text="${feedback.malfunctionExperience}">Bugs</td>
                <td th:text="${feedback.recommendation}">Recommend</td>
                <td th:text="${feedback.comments}"> Comments</td>
                
                <td th:text="${feedback.userName}">Name</td>
                <td th:text="${feedback.Email}">Email</td>
                <td>
                   <a th:href="@{'/admin/feedback/delete/' + ${feedback.id}}" 
                      class="btn btn-danger btn-sm"
                      onclick="return confirm('Are you sure you want to delete this feedback?');">
                      Delete
                </td>
            </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>

</body>
</html>
